<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <!--新闻模块可以打广告-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>新闻模块</h4>
        <img class="img-thumbnail question-wechat" src="/images/1.jpg">
    </div>
    <!--极客时间-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
      &lt;!&ndash;  <a href="http://gk.link/a/103Vl" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'GEEKTIME','transport_type': 'SIDE'})">&ndash;&gt;
            <img class="img-thumbnail question-wechat" src="/image/1.jpg">
        </a>
    </div>
    &lt;!&ndash;超级简历&ndash;&gt;
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        &lt;!&ndash;<a href="https://gio.ren/w/nP2AqLRm" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'WONDERCR','transport_type': 'SIDE'})">&ndash;&gt;
            <img class="img-thumbnail question-wechat" src="/image/1.jpg">
        </a>
    </div>-->
</div>
</body>
</html>
